<html>
    <head>

	<title>Editar Contactos</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>
	<form action="" method="POST">
	    {% csrf_token %}
	    <label for="fbuscar">Buscar:</label>
	    <input type="text" id="fbuscar" name="fbuscar"><br><br>
	    <input type="submit" value="Enviar">
	</form> 
	{% for contacto in buscar  %}
	  <h4><strong>{{contacto.name}}</strong></h4>
	  <h4><strong>{{contacto.cargo}}</strong></h4>
	  <h4><strong>{{contacto.email}}</strong></h4>
	  <h4><strong>{{contacto.message}}</strong></h4>

	  <button data-product={{contacto.id}} data-action="add" class="">
	      Editar
	  </button>

	  <hr>
	{% endfor %} 
    </body>

</html>
