{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacer Suma</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
    >
</head>
<body>
    <div class="container mt-5 w-50">
        <form name="sumForm" id="sumForm" method="POST">
            {% csrf_token %}
            {{ sform|crispy  }}
            <input type="submit" name="sum-submit" class="btn btn-success btn-lg" />
        </form>
	<br>
	<div>
            <input type="text" id="myText" name="" class="numberinput form-control">
        </div>
    </div>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
     $(document).ready(function () {
         // catch the form's submit event
         $('#sumForm').submit(function () {
             // create an AJAX call
             $.ajax({
                 data: $(this).serialize(), // get the form data
                 type: $(this).attr('method'), // GET or POST
                 url: "{% url 'sum_form' %}",
                 // on success
                 success: function (response) {
                     //alert("Thankyou for reaching us out " + response.result);
                     //console.log(response)
		     //El result del response lo recibe por json
                     document.getElementById('myText').value = response.result;
                 },
                 // on error
                 error: function (response) {
                     // alert the error if any error occured
		     var object1 = JSON.parse(response.responseJSON.errors); 
                     const nam = object1.first;
                     //alert(response.responseJSON.errors);
                     
		     console.log(nam)
		     for (var {message: p} of nam) {
		     	 console.log('Error: ' + p );
		     	 alert(p);
		     }
                 }
             });
             return false;
         });
     })

    </script>
    {% endblock javascript %}
</body>
</html>
