[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[dev-packages]

[packages]
django-admin-interface = "==0.14.2"
django-crispy-forms = "==1.10.0"
pandas = "==1.1.5"
Django = "==2.1"
django-colorfield = "==0.3.2"
django-flat-responsive = "==2.0"
django-flat-theme = "==1.1.4"
python-dateutil = "==2.8.1"
pytz = "==2020.5"
six = "==1.15.0"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
psycopg2 = "*"
psycopg2-binary = "*"
